<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="p-fluid">
    <div class="field">
      <label for="username">Username (test)</label>
      <input pInputText id="username" type="text" formControlName="username" />
    </div>
    <div class="field">
      <label for="password">Password (test)</label>
      <input pInputText id="password" type="password" formControlName="password" />
    </div>
    <br>
    <p-button label="Login" [loading]="loading" (click)="onSubmit()"></p-button>
  </div>
</form>
