<p-toolbar class="min-w-min">
  <div class="p-toolbar-group-start">
  </div>
  <div class="p-toolbar-group-end">
    <button pButton pRipple label="Logout" icon="pi pi-times" class="p-button-danger" (click)="logout()"></button>
  </div>
</p-toolbar>
<br>
  <p-fieldset *ngFor="let fact of catFactsCollection; index as i" legend="Cat Fact {{i+1}}" styleClass="mb-2" scrollTracker (scrollingFinished)="onScrollingFinished()">
    <p class="sm:w-25rem">
     {{fact}}
    </p>
  </p-fieldset>

<ng-template [ngIf]="loading" *ngFor="let skIdx of [].constructor(10)">
  <p-skeleton styleClass="mb-2" width="30rem" height="5rem"></p-skeleton>
</ng-template>



